.entete {
    background-color: #3b5998;
    width: 100%;
    height: 90px;
}

.logo {
    width: 220px;
    height: 90px;
}

.connexion {
    float: right;
    color: white;
    font-family: arial;
    font-size: 14px;
}

.ad {
    width: 140px;
    border-radius: 0;
    height: 19px;
    border: 1px solid black;
}

.to {
    width: 90px;
    height: 23px;
    background-color: blue;
    margin-right: 130px;
    border: 1px solid black;
}

.gauche {
    width: 30%;
    height: 90px;
    float: left;
    margin-left: 90px;
}

.droite {
    width: 60%;
    height: 90px;
    float: right;
}

.corps {
    width: 100%;
    height: 630px;
    background: linear-gradient(rgb(228, 226, 226), 80%, rgb(204, 204, 204));
}

.avant {
    float: left;
    width: 40%;
    margin-left: 90px;
    color: #3b5998;
    font-family: arial;
}

.apres {
    width: 50%;
    float: right;
    font-family: arial;
    font-size: 19px;
}

.inputmin {
    width: 215px;
    height: 35px;
}

.inputmax {
    width: 450px;
    height: 35px;
}

.text {
    font-family: arial;
    font-size: 13px;
    text-decoration: none;
}

.nat {
    font-family: arial;
    color: grey;
    font-size: 13px
}

a {
    text-decoration: none;
}

.clo {
    background-color: rgb(39, 107, 39);
    width: 220px;
    height: 45px;
    border: 3px, solid, green;
    color: white;
    border-radius: 10px;
}

.alpha {
    font-family: arial;
    font-size: 12px;
    font-family: arial;
}

.pied {
    width: 1000px;
    height: 250px;
    margin-left: 165px;
}

ul,
li {
    list-style: none;
    font-family: arial;
    font-size: 12px;
    display: inline-block;
    margin: 4px;
}